.layout--66-33 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (min-width: 40em) {
  .layout--66-33 .layout__region--left {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 66.66%;
    flex: 0 1 66.66%;
  }

  .layout--66-33 .layout__region--right {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.33%;
    flex: 0 1 33.33%;
  }

}
