{% set classes = [
 'layout',
 'layout--100',
] %}
{% if content %}
 <div{{ attributes.addClass(classes) }}>

   {% if content.center %}
     <div {{ region_attributes.center.addClass('layout__region', 'layout__region--center') }}>
       {{ content.center }}
     </div>
   {% endif %}
   
 </div>
{% endif %}
