{% set classes = [
  'layout',
  'layout--50-25-25',
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.left %}
      <div {{ region_attributes.left.addClass('layout__region', 'layout__region--left') }}>
        {{ content.left }}
      </div>
    {% endif %}
    {% if content.right_first %}
      <div {{ region_attributes.right_first.addClass('layout__region', 'layout__region--right-first') }}>
        {{ content.right_first }}
      </div>
    {% endif %}
    {% if content.right_second %}
      <div {{ region_attributes.right_second.addClass('layout__region', 'layout__region--right-second') }}>
        {{ content.right_second }}
      </div>
    {% endif %}

  </div>
{% endif %}

