{% set classes = [
 'layout',
 'layout--50-50',
] %}
{% if content %}
 <div{{ attributes.addClass(classes) }}>

   {% if content.left %}
     <div {{ region_attributes.left.addClass('layout__region', 'layout__region--left') }}>
       {{ content.left }}
     </div>
   {% endif %}
   {% if content.right %}
     <div {{ region_attributes.right.addClass('layout__region', 'layout__region--right') }}>
       {{ content.right }}
     </div>
   {% endif %}

 </div>
{% endif %}
